.side-menu {

    padding: 0;
    margin: 0;
    box-sizing: border-box;


    height: 100dvh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;

    font-family: 'Inter', sans-serif;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.menu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: space-between; */
    overflow-y: auto;
}

.header-menu {
    padding: 1.5rem 1rem 0.5rem;
    text-align: center;
}

.brand-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    /* color: #1e40af; */
}

.brand-icon {
    width: 24px;
    height: 24px;
}

.brand-subtitle {
    font-size: 0.75rem;
    color: #6b7280;
}

.user-info-menu {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0;
}

.email {
    font-size: 0.75rem;
    color: #6b7280;
}

.role {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    background-color: #f3e8ff;
    color: #9333ea;
    padding: 8px 12px;
    border-radius: 9999px;
    font-weight: 500;
    min-width: 70px;
}

.role.admin {
    background-color: #fae6bb;
    color: #a0720e;
    border: 1px solid #fcd34d;
}

.role.common {
    background-color: #c7e8fe;
    color: #0471ca;
}

.role.common {
    background-color: #f3f4f6;
    color: #4b5563;
    border: 1px solid #d1d5db;
}


.nav-menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: #374151;
}

.nav-menu nav a:hover,
.nav-menu nav a.active {
    background-color: #eef2ff;
    color: #1d4ed8;
}

.conversation-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: #374151;

    .action-item {
        cursor: pointer;
    }
}

.conversation-actions .actions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conversation-actions a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: #374151;
}


.icon {
    font-size: 1.25rem;
    font-style: normal;
}

.nav-title {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
}

.nav-desc {
    font-size: 0.75rem;
    color: #6b7280;
    margin: 0;
}

.logout-container {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;

}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    font-size: 0.875rem;

    font-family: 'Inter', sans-serif;

    color: #dc2626;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 500;

    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: #fcdede;
}

.footer-menu {
    padding: 0.5rem 0;
    font-size: 0.75rem;
    color: #6b7280;
    text-align: center;
    justify-self: flex-end;

    .footer-text {
        margin: 0;
        padding: 1rem;
    }
}

.conversation-list {
    height: max-content;
    flex-grow: 1;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.conversation-item {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.8rem;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    .delete-button {
        background: none;
        border: none;
        color: #dc2626;
        cursor: pointer;
        padding: 0.25rem;
        margin-left: auto;
    }
}

.conversation-item.active {
    background-color: #e0f2fe;
    color: #1d4ed8;
}

.conversation-item:hover {
    background-color: #e0f2fe;
    color: #1d4ed8;
}

.conversation-title {
    margin: 0;
    font-weight: 500;
    font-size: 0.8rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation-date {
    font-size: 0.75rem;
    color: #888;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
}

.reject-button {
    background-color: #f3f4f6;
    color: #374151;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}