body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Segoe UI", Roboto, sans-serif;
    height: 100dvh;
    overflow: hidden;
}

button, input, textarea, select {
    font-family: "Poppins", "Segoe UI", Roboto, sans-serif;
}