<p-toast [position]="'top-center'" />
<div class="form-container">
  <div class="form-card">
    <div class="logo">
      <img src="../../../../assets/book-open.svg" alt="Logo">
    </div>
    <h2>Bem-vindo de volta</h2>
    <p class="subtitle">Entre na sua conta para continuar aprendendo português</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="seu@email.com"
        [class.invalid]="form.get('email')?.invalid && form.get('email')?.touched" />
      <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Email inválido.
      </div>

      <label for="password">Senha</label>
      <div class="password-wrapper">
        <input autocomplete="new-password" type="password" id="password" formControlName="password"
          placeholder="Sua senha" [class.invalid]="form.get('password')?.invalid && form.get('password')?.touched" />
        <span class="toggle-visibility" (click)="togglePassword()">
          <i class="pi" [ngClass]="isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'"></i>
        </span>
      </div>
      <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Senha obrigatória.
      </div>

      <button [ngClass]="isLoading ? 'login-button is-logging' : 'login-button'" type="submit"
        [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading; else isLogging">Entrar</span>
        <ng-template #isLogging>
          <span>
            <i class="pi pi-spin pi-spinner"></i> Entrando...
          </span>
        </ng-template>

      </button>
    </form>
    <p class="register-link">Não tem uma conta? <a [routerLink]="'/login/register'">Cadastre-se</a></p>
    <div class="test-users">
      <p>Usuários de teste:</p>
      <ul>
        <li type="none">
          <span>Admin: </span>
          <br>
          <span>joao&#64;exemplo.com</span>
          <br>
          <span>senha123</span>
        </li>
      </ul>
    </div>
  </div>


</div>