* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef2ff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.form-card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.logo img {
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.subtitle {
  color: #6b7280;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

form {
  text-align: left;
}

label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #374151;
}

input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.password-wrapper {
  position: relative;
}

.toggle-visibility {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: #9ca3af;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #111827;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #1f2937;
}

.login-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.is-logging {
  background-color: #9ca3af;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

  }
}

.register-link {
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: #6b7280;
}

.register-link a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
}

.demo-info {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-top: 1rem;
  text-align: left;
}

input.invalid {
  border: 1px solid #ef4444;
}

.error {
  color: #ef4444;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 0.75rem;
}


.test-users {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-top: 1rem;
  text-align: left;

  p {
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #374151;
  }

  ul {
    font-size: 0.85rem;
    color: #6b7280;
  }
}